$color-black: #000000;
$font-size: 14px;
$letter-spacing: 0.5px;
$line-height: 1;
$color-text: #000;
$color-link-hover: #4A40C2;
$color-link: #4328B7;
$color-primary: #4328B7;
$font-family: "Roboto", sans-serif;
$font-family-secondary: "Butler", serif;
$font-weight: 400;

$color-base: #fff;
$screen-xs: 375px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1366px;
$screen-xl: 1600px;

$screen-xl-min: $screen-xl;
$screen-sm-min: $screen-sm;
$screen-lg-max: ($screen-xl-min - 1);

html {
    height:100%;
}

body {
    height:100%;
    margin:0;
    padding:0;
    font-family:$font-family;
    font-size:$font-size;
    letter-spacing:$letter-spacing;
    line-height:$line-height;
    color:$color-text;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    padding: 20px 20px;
}

.container {
    background-color: $color-base;
    margin: 20px 0 0 0;

    padding: 20px 15px;
}

a {
    color:$color-link;
    cursor:pointer;

    &:hover, &:focus {
        color:$color-link-hover;
        text-decoration:underline;
    }
}

* {
    box-sizing: border-box;

    &:focus {
        outline:none !important;
    }
}

*::selection {
    background:$color-primary;
    background:rgba(0,0,0,0.3);
    color:#fff;
}
*::-moz-selection {
    background:$color-primary;
    color:#fff;
}

h1, h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 500;
    font-family: $font-family-secondary;
}

h1{
    a {
        color: $color-base;
        font-size: 32px;
        letter-spacing: -0.69px;
        line-height: 38px;

        text-decoration: none;

        @media only screen and (min-width: $screen-sm){
            font-size: 50px;
            letter-spacing: -1.07px;
            line-height: 60px;
        }

        @media only screen and (min-width: $screen-xl){
            letter-spacing: -1.5px;
            font-size: 70px;
            line-height: 83px;
        }

        &:hover, &:focus {
            color: $color-base;
            text-decoration: none;
        }
    }
}

h2{
    font-size: 24px;
    letter-spacing: -0.26px;

    @media only screen and (min-width: $screen-sm){
        font-size: 40px;
        letter-spacing: -0.5px;
        line-height: 48px;
    }

}

ul, ol{
    // list-style-type: none;
    padding: 0;
    margin: 0;
}

button{
    padding: 0;
}

label{
    margin: 0;
}

input{
    &::-ms-clear {
        display: none;
    }
}

.row {
    margin-bottom: 15px;

    span {
        border: 1px solid red;
        padding: 15px;
        display: inline-block;
    }
}

.layout {
    position: fixed;
    background: linear-gradient(240deg, #6fb8fc 0%,#3908a7 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.arca-table{
    font-family: $font-family;
    color: $color-black;
    border-collapse: collapse;

    width: 100%;

    @media (max-width:$screen-sm-min) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    thead{
        tr{
            th{
                font-family: $font-family;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0.5px;
                text-align: left;

                padding: 25px 15px;

                text-transform: uppercase;
            }
        }
    }

    tbody{
        tr{
            border-bottom: 1px solid rgba(204,204,204,.5);
            transition: background-color 0.2s ease-in-out;

            &:hover, &:focus{
                background-color: #F8F8F8;

                cursor: pointer;
            }

            &:last-child{
                border-bottom: none;
            }

            td{
                padding: 25px 15px;
                border: 1px solid #e6e6e6;

                font-size: 14px;
                letter-spacing: 0.5px;

                text-align: left;

                &.-bold{
                    font-weight: bold;

                    text-align: left;
                }
            }
        }
    }
}

.arca-projects-grid {
    &-row {
        font-size: 0;
        margin-bottom: 20px;
    }

    &-item {
        background: #f4f5f6;
        padding: 15px;
        display: inline-block;
        width: 100%;
        border: 1px solid #ebecec;
        transition: all 0.2s ease-in-out;

        text-decoration: none;

        &:focus, &:hover {
            border: 1px solid #d1d4d5;
            background: #eaeced;
            text-decoration: none;
        }

        span {
            font-size: 14px;
            font-family: $font-family;
            letter-spacing: .5px;
            color: $color-text;

            text-decoration: none
        }

        &-wrapper {
            display: inline-block;
            width: 20%;
            padding: 0 10px;
        }
    }
}